{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="post-creation">Editer ma critique</h2>
    <form method="post" enctype="multipart/form-data">
        {{ form|crispy }}
        {% csrf_token %}
        <div class="form-buttons">
            <button type="submit button" class="btn btn-outline-dark form-btn">Enregistrer</button>
            <a href="/home/" type="button" class="btn btn-outline-danger form-btn">Annuler</a>
        </div>
    </form>
{% endblock content %}