{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
        <div id="msg-modal">
            <dialog open>{{ message }}</dialog>
        </div>
        {% endfor %}
    {% endif %}

    <h3 class="follow-text"><i class="bi-person-plus" style="font-size: 1.5rem; color: black;"></i>  Suivre d'autres utilisateurs :</h3>
    <div id="follow-form" class="">
        <form method="post">
            {{ form }}
            {% csrf_token %}
            <button id="follow-btn" type="submit button" name="follow" class="btn btn-outline-dark">Suivre</button>
        </form>
    </div>
    
        <div id="follow-list" class="border-top">
            <h3 class="follow-text"><i class="bi-person-check-fill" style="font-size: 1.5rem; color: black;"></i> Abonnements :</h3>
            {% if follow %}
                {% for followed in follow %}
                    <form method="post" class="follow-list border-bottom">
                        {% csrf_token %}
          
                        <i class="bi-person-square" style="font-size: 1.5rem; color: black;"></i> {{ followed.username }}
                        <button type="submit button" name="unfollow"
                                value="{{ followed.id }}" class="btn btn-outline-danger unfollow-btn"><i class="bi-person-dash" style="font-size: 1.5rem; color: black;"></i></button>

                    </form>
                {% endfor %}
            {% else %}
                <p class="follow-list">Vous ne suivez personne.</p>
        
            {% endif %}
        </div>

    
        <div id="followers" class="border-top">
            <h3 class="follow-text"><i class="bi-person-fill" style="font-size: 1.5rem; color: black;"></i> Abonnés :</h3>
            {% if followed_by %}
                {% for follower in followed_by %}

                        <p class="follow-list border-bottom"><i class="bi-person-square" style="font-size: 1.5rem; color: black;"></i> {{ follower.username }}</p>
                {% endfor %}
            {% else %}
                <p class="follow-list">Personne ne vous suit.</p>
            {% endif %}
        </div>
{% endblock content %}

