{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div id="msg-modal-home">
            <dialog open>{{ message }}</dialog>
        </div>
        {% endfor %}
    {% endif %}

    <div class="create-post">
        <a href="{% url 'post_review' %}" type="button" class="btn btn-outline-dark">Poster une critique</a>
        <a href="{% url 'write_ticket' %}" type="button" class="btn btn-outline-dark">Demander une critique</a>
    </div>

    {% if not list %}
        <div class="ticket-display">
            <p>Bienvenue sur votre flux d'actualité.</p>
            <p><a href="{% url 'follow' %}">Suivez</a> d'autres utilisateurs pour voir leurs critiques et demandes de critique ici.</p>
            <p>Vos propres <a href="{% url 'post_review' %}">critiques</a> et <a href="{% url 'write_ticket' %}">demandes de critique</a> s'afficheront également ici.</p>
        </div>
    {% endif %}

    {% for post in list %}

        <!---------------------- Ticket ---------------------->

        {% if post.title %}
        <div class="ticket-display">
                <p class="post-time">{{ post.time_created }}</p>
                {% if request.user == post.user %}      
                    <p class="post-author"><i class="bi-person-square" style="font-size: 1.5rem; color: black;"></i> <strong>Vous</strong> avez posté une demande critique</p>
                {% else %}
                    <p class="post-author"><i class="bi-person-square" style="font-size: 1.5rem; color: black;"></i> <strong>{{ post.user.username }}</strong> a posté une demande critique</p>
                {% endif %}

                <p class="post-title"><i class="bi-book" style="font-size: 1.5rem; color: black;"></i> <strong> {{ post.title }} </strong></p>

                {% if post.description %}
                    <p class="post-body"><i class="bi-pen" style="font-size: 1.5rem; color: black;"></i> {{ post.description }} </p>
                {% endif %}

                {% if post.image.url != NULL %}
                    <img class="post-img" src="{{ post.image.url }}" alt="{{ post.title}}" title="{{ post.title}}" width="150" height="250">
                {% endif %}

            <div class="post-actions">

            {% if not post.review %}


                {% load static %}
                    <a href="/ticket_reply/{{ post.id }}" type="button" class="btn btn-outline-dark">Répondre</a>
            
            {% endif %}
            </div>

        </div>
        {% endif %}


        <!---------------------- Review ---------------------->

        {% if post.headline %}
            <div class="review-display">   
                <p class="post-time">{{ post.time_created }}</p>    
                {% if request.user == post.user %}      
                    <p class="post-author"><i class="bi-person-square" style="font-size: 1.5rem; color: black;"></i> <strong>Vous</strong> avez posté une critique</p>
                {% else %}
                    <p class="post-author"><i class="bi-person-square" style="font-size: 1.5rem; color: black;"></i> <strong>{{ post.user.username }}</strong> a posté une critique</p>
                {% endif %}
                <div class="headline">
                    <p class="post-title"><i class="bi-book-half" style="font-size: 1.5rem; color: black;"></i> <strong> {{ post.headline }} &nbsp;-&nbsp; </strong> </p>
                    <div class="rating">

                    {% for i in rating_list %}
                        {% if i <= post.rating %}
                            <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                        {% else %}
                            <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                        {% endif %}
                    {% endfor %}

                    </div>
                </div>

                {% if post.body %}
                    <p class="post-body"><i class="bi-pen" style="font-size: 1.5rem; color: black;"></i> {{ post.body }}</p>
                {% endif %}


                <!---------------------- Parent ticket ---------------------->

                <div class="related-ticket">
                    {% if request.user == post.ticket.user %}
                        <p class="post-author"><i class="bi-person-square" style="font-size: 1.5rem; color: black;"></i> Auteur de la demande : <strong>Vous</strong></p>
                    {% else %}
                        <p class="post-author"><i class="bi-person-square" style="font-size: 1.5rem; color: black;"></i> Auteur de la demande : <strong>{{ post.ticket.user.username }}</strong></p>
                    {% endif %}

                    <p class="post-title"><i class="bi-book" style="font-size: 1.5rem; color: black;"></i> <strong>{{ post.ticket.title }}</strong></p>

                    {% if post.ticket.description %}
                        <p class="post-body"><i class="bi-pen" style="font-size: 1.5rem; color: black;"></i> {{ post.ticket.description }}</p>
                    {% endif %}

                    {% if post.ticket.image.url != NULL %}
                        <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title}}" title="{{ post.ticket.title}}" width="150" height="250">
                    {% endif %}

                </div>

            </div>
        {% endif %}
    {% endfor %}

{% endblock content %}