{% extends 'base.html' %}
{% block content %}
    <div class="create-post">
        <a href="{% url 'post_review' %}" type="button" class="btn btn-outline-dark">Poster une critique</a>
        <a href="{% url 'write_ticket' %}" type="button" class="btn btn-outline-dark">Demander une critique</a>
    </div>
    {% for post in list %}
        <!-- Ticket -->

        {% if post.title %}
        <div class="ticket-display">
                <p class="post-time">{{ post.time_created }}</p>
                {% if request.user == post.user %}      
                    <p class="post-author"> <strong>Vous</strong> avez posté une demande critique</p>
                {% else %}
                    <p class="post-author"> <strong>{{ post.user.username }}</strong> a posté une demande critique</p>
                {% endif %}

                <p class="post-title"> <strong> {{ post.title }} </strong></p>
                <p class="post-body"> {{ post.description }} </p>

                {% if post.image.url != NULL %}
                    <img class="post-img" src="{{ post.image.url }}" alt="{{ post.title}}" title="{{ post.title}}" width="150" height="250">
                {% endif %}

            <div class="post-actions">
            {% if post.user == request.user %}
                <a href="/delete_ticket/{{ post.id }}" type="button" class="btn btn-outline-dark">Supprimer</a>
            {% endif %}
            {% if not post.review %}
            
            {% if post.user == request.user %}
                {% load static %}
                <a href="/edit_ticket/{{ post.id }}" type="button" class="btn btn-outline-dark">Editer</a>
                
            {% endif %}

                {% load static %}
                    <a href="/ticket_reply/{{ post.id }}" type="button" class="btn btn-outline-dark">Répondre</a>
            
            {% endif %}
            </div>

        </div>
        {% endif %}

        <!-- Review -->
        {% if post.headline %}
            <div class="review-display">   
                <p class="post-time">{{ post.time_created }}</p>    
                {% if request.user == post.user %}      
                    <p class="post-author"> <strong>Vous</strong> avez posté une critique</p>
                {% else %}
                    <p class="post-author"> <strong>{{ post.user.username }}</strong> a posté une critique</p>
                {% endif %}
                <p class="post-title">{{ post.headline }}</p>
                <div class="rating">
                {% if post.rating > 4 %}
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                {% elif post.rating > 3 %}
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                {% elif post.rating > 2 %}
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                {% elif post.rating > 1 %}
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                {% elif post.rating > 0 %}
                    <i class="bi-star-fill" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                {% else %}
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                    <i class="bi-star" style="font-size: 1.5rem; color: black;"></i>
                {% endif %}
                </div>
                <p class="post-body">{{ post.body }}</p>


                {% if post.user == request.user%}
                <div class="post-actions">
                    {% load static %}
                    <a href="/edit_review/{{ post.id }}" type="button" class="btn btn-outline-dark">Editer</a>
                    <a href="/delete_review/{{ post.id }}" type="button" class="btn btn-outline-dark">Supprimer</a>
                </div>
                {% endif %}

                <!-- Parent ticket -->
                <div class="related-ticket">
                    <p class="post-author">Auteur de la demande : <strong>{{ post.ticket.user.username }}</strong></p>
                    <p class="post-title"><strong>{{ post.ticket.title }}</strong></p>
                    <p class="post-body">{{ post.ticket.description }}</p>

                    {% if post.ticket.image.url != NULL %}
                        <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title}}" title="{{ post.ticket.title}}" width="150" height="250">
                    {% endif %}

                </div>

            </div>
        {% endif %}
    {% endfor %}

{% endblock content %}