{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="post-creation">Vous répondez à la demande suivante :</h2>
    <div class="answer-ticket">
    <p class="post-time">{{ ticket.time_created }}</p>    
    <p class="post-author"> <i class="bi-person-square" style="font-size: 1.5rem; color: black;"></i> {{ ticket.user.username }}</p>
    <p class="post-title"> <i class="bi-book" style="font-size: 1.5rem; color: black;"></i> {{ ticket.title }}</p>
    <p class="post-body"> <i class="bi-pen" style="font-size: 1.5rem; color: black;"></i> {{ ticket.description }}</p>
    {% if ticket.image %}
        <img class="post-img" src="{{ ticket.image.url }}" alt="{{ ticket.title }}" title="{{ ticket.title }}" width="150" height="250">
    {% endif %}
    </div>


    <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <div class="form-buttons">
            <button type="submit button" class="btn btn-outline-dark form-btn">Publier ma critique</button>
            <a href="/home/" type="button" class="btn btn-outline-danger form-btn">Annuler</a>
        </div>
    </form>
{% endblock content %}