{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="signup">
        <h2 class="post-creation">Inscription</h2>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <div id="signup-buttons">
                <a href="/" type="button" class="btn btn-outline-danger delete-no">Annuler</a>
                <button type="submit button" class="btn btn-outline-dark signup-btn">S'inscrire</button>
            </div>
        </form>
    </div>
{% endblock content %}